.password-generator {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  font-size: 1.8em;
  color: #282c34;
  margin-bottom: 20px;
}

.settings {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin: 10px 0;
  font-size: 1em;
  color: #282c34;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  background-color: #ffcc00;
  color: #282c34;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 10px;
}

button:hover {
  background-color: #ffd700;
  transform: scale(1.05);
}

.password-display {
  margin-top: 20px;
  padding: 15px;
  background: #e9f7fd;
  border-radius: 8px;
}

.password-display h3 {
  color: #007BFF;
}

.password-display p {
  font-size: 1.5em;
  color: #555;
}

@media (max-width: 768px) {
  .password-generator {
    width: 90%;
  }
}
