.overview-heading {
  font-size: 1.5em;
  color: #282c34;
  margin: 20px 0;
  text-align: left;
  font-weight: bold;
}

.documentation-layout {
  display: flex;
  background-color: #f4f4f4;
  min-height: 100vh;
  margin-top: 80px; /* Added margin to prevent content from being hidden by the fixed header */
}

.sidebar {
  width: 250px;
  background-color: #282c34;
  color: #ffffff;
  padding: 20px;
  position: sticky;
  top: 0;
}

.content {
  flex-grow: 1;
  padding: 40px;
  background-color: #ffffff;
  border-left: 1px solid #e0e0e0;
}


.overview-heading {
  font-size: 1.5em;
  color: #ffd700;
  margin: 20px 0;
  text-align: left;
  font-weight: bold;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
}

.sidebar a {
  color: #ffd700;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s, text-shadow 0.3s;
}

.sidebar a:hover {
  color: #ffcc00;
  text-shadow: 0 0 10px #ffcc00, 0 0 20px #ffd700, 0 0 30px #ffd700;
}


.content h2 {
  font-size: 2em;
  color: #282c34;
  margin-bottom: 20px;
}
